*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
		}
		
		body {
				font-family: 'Roboto', Arial, sans-serif;
				background-color: #ebebeb;
				overflow-x: hidden;
				text-align: center;
		}
		
		header {
				width: 100%;
				height: 50px;
				background-color: #bb1414;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				
		}
		
		header > nav > div {
				float: left;
				width: 16.6666%;
				height: 100%;
				position: relative;
		}
		
		header > nav > div > a {
				text-align: center;
				width: 100%;
				height: 100%;
				display: block;
				line-height: 50px;
				color: #fbfbfb;
				transition: background-color 0.2s ease;
				text-transform: uppercase;
		}
		
		header > nav > div:hover > a {
				background-color: rgba(0, 0, 0, 0.1);
				cursor: pointer;
		}
		
		header > nav > div > div {
				display: none;
				overflow: hidden;
				background-color: white;
				min-width: 200%;
				position: absolute;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
				padding: 10px;
		}
		
		header > nav > div:not(:first-of-type):not(:last-of-type) > div {
				left: -50%;
				border-radius: 0 0 3px 3px;
		}
		
		header > nav > div:first-of-type > div {
				left: 0;
				border-radius: 0 0 3px 0;
		}
		
		header > nav > div:last-of-type > div {
				right: 0;
				border-radius: 0 0 0 3px;
		}
		
		header > nav > div:hover > div {
				display: block;
		}
		
		header > nav > div > div > a {
				display: block;
				float: left;
				padding: 8px 10px;
				width: 46%;
				margin: 2%;
				text-align: center;
				background-color: #cc1e1e;
				color: #fbfbfb;
				border-radius: 2px;
				transition: background-color 0.2s ease;
		}
		
		header > nav > div > div > a:hover {
				background-color: #212121;
				cursor: pointer;
		}
		
		h1 {
				margin-top: 100px;
				font-weight: 100;
		}
		
		p {
				color: #aaa;
				font-weight: 300;
		}
		
		@media (max-width:600px) {
				header > nav > div > div > a {
						margin: 5px 0;
						width: 100%;
				}
				header > nav > div > a > span {
						display: none;
				}
		}

		html, body {
			height: 100%;
		  }
		  
		  .wrap {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		  }
		  
		  .button {
			min-width: 300px;
			min-height: 60px;
			font-family: 'Nunito', sans-serif;
			font-size: 22px;
			text-transform: uppercase;
			letter-spacing: 1.3px;
			font-weight: 700;
			color: #520404;
			background: #ff0000;
		  background: linear-gradient(90deg, rgb(255, 8, 0) 0%, rgb(255, 0, 0) 100%);
			border: none;
			border-radius: 1000px;
			box-shadow: 12px 12px 24px rgba(255, 0, 0, 0.64);
			transition: all 0.3s ease-in-out 0s;
			cursor: pointer;
			outline: none;
			position: relative;
			padding: 10px;
			}
		  
		  button::before {
		  content: '';
			border-radius: 1000px;
			min-width: calc(300px + 12px);
			min-height: calc(60px + 12px);
			border: 6px solid #ff0000;
			box-shadow: 0 0 60px rgb(255, 0, 0);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all .3s ease-in-out 0s;
		  }
		  
		  .button:hover, .button:focus {
			color: #313133;
			transform: translateY(-6px);
		  }
		  
		  button:hover::before, button:focus::before {
			opacity: 1;
		  }
		  
		  button::after {
			content: '';
			width: 30px; height: 30px;
			border-radius: 100%;
			border: 6px solid #ff1e00;
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: ring 1.5s infinite;
		  }
		  
		  button:hover::after, button:focus::after {
			animation: none;
			display: none;
		  }
		  
		  @keyframes ring {
			0% {
			  width: 30px;
			  height: 30px;
			  opacity: 1;
			}
			100% {
			  width: 300px;
			  height: 300px;
			  opacity: 0;
			}
		  }
		